# QUESTION 1

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
df=pd.DataFrame({'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name,'EXP_REQ':experience_required})
df

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQ
0,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
1,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
2,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
6,Senior Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Yallas Technology Solutions Opc,2-7 Yrs
7,Customer Master Data Analyst (SAP SD/MM),Bangalore/Bengaluru,Cyient,2-5 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
9,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs

# QUESTION 2

In [13]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
driver.get("https://www.naukri.com/")

In [15]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]

In [19]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [20]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [21]:
df=pd.DataFrame({'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name})
df

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree Limited
5,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
7,Lead Data Scientist,Bangalore/Bengaluru,Caterpillar Inc
8,Lead Data Scientist,Bangalore/Bengaluru,Lowe's
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, New Delhi",Paytm

# QUESTION 3

In [22]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [26]:
driver.get("https://www.naukri.com/")

In [27]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [28]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [29]:
locationfilter=driver.find_element(By.XPATH,'//*[@id="root"]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
locationfilter.click()

In [30]:
salaryfilter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salaryfilter.click()

In [31]:
job_title=[]
job_location=[]
company_name=[] 
experience_required=[]

In [32]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [33]:
print(len(job_title),len(job_location),len(company_name), len(experience_required))

10 10 10 10

In [34]:
df=pd.DataFrame({'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name,'EXP_REQ':experience_required})
df

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQ
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
4,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
8,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
9,Jr. Data Scientist,Noida,Dataflow,1-3 Yrs

# QUESTION 5

In [35]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [36]:
driver.get("https://www.flipkart.com/apple-iphone-11-black--64-gb/product-reviews/itme4e5044ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [37]:
all_review=driver.find_element(By.XPATH,"//div[@class='gUuXy-']")
all_review.click()

In [38]:
Rating=[]
Review_summary=[]
Full_review=[]

In [39]:

    
    rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tags[0:100]:
        rating=i.text
        Rating.append(rating)

    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in review_tags[0:100]:
        review=i.text
        Review_summary.append(review)
    
    
    fullreview_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in fullreview_tags[0:100]:
        fullreview=i.text
        Full_review.append(fullreview)

In [40]:
df=pd.DataFrame({'RATINGS':Rating,'REVIEWS':Review_summary,'FULL REVIEW':Full_review})
df.head(100)

,RATINGS,REVIEWS,FULL REVIEW
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Highly recommended,It's my first time to use iOS phone and I am l...
6,5,Highly recommended,What a camera .....just awesome ..you can feel...
7,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
8,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
9,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

# QUESTION 7

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [57]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [58]:
driver.get("https://www.amazon.in")

In [59]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys("Laptop")

In [60]:
search=driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [62]:
cpufilter=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[11]/span/a/div/label/i")
cpufilter.click()

In [63]:
Title=[]
Ratings=[]
Price=[]

In [64]:

    
    title_tags=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    for i in title_tags[0:10]:
        title=i.text
        Title.append(title)

    rating_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-base']")
    for i in rating_tags[0:10]:
        rating=i.text
        Ratings.append(rating)
    
    
    cost_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
    for i in cost_tags[0:10]:
        cost=i.text
        Price.append(cost)

In [65]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [66]:
df=pd.DataFrame({'TITLE TAG':Title,'RATING':Ratings,'COST':Price})
df

                                           TITLE TAG RATING      COST
0  HP Victus Gaming Latest 12th Gen Intel Core i7...  (4.3)    81,990
1  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...  (4.2)    82,990
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...  (4.0)    94,630
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  (4.3)    88,113
4  ASUS ZenBook Duo 14 (2021) Dual Screen Laptop,...  (3.8)  1,04,990
5  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....  (3.7)    91,490
6  Lenovo Yoga 7 Intel Evo i7 1260P 14"(35.56cm) ...  (4.3)  1,12,000
7  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...  (3.6)  1,00,000
8  Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...  (3.3)    91,800
9  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...  (4.0)    24,935

# QUESTION 9

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [35]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [36]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [37]:
driver.get("https://www.jagranjosh.com/")

In [38]:
clickgk=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
clickgk.click()

In [39]:
clickonlist=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
clickonlist.click()

In [40]:
Name=[]
BornDead=[]
TERM=[]
REMARK=[]

In [41]:
urls=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a")

for i in urls:
    urls.append(i.get_attribute('href'))
    
    name_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p")
    for i in name_tags[0:18]:
        name=i.text
        Name.append(name)

    life_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[3]/p")
    for i in life_tags[0:18]:
        life=i.text
        BornDead.append(life)
    
    
    tenure_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[4]/p[1]")
    for i in tenure_tags[0:18]:
        tenure=i.text
        TERM.append(tenure)
    
    remark_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[5]/p")
    for i in remark_tags[0:18]:
        remark=i.text
        REMARK.append(remark)

In [42]:
print(len(Name),len(BornDead),len(TERM),len(REMARK))

0 0 0 0

In [43]:
df=pd.DataFrame({'NAME':Name,'LIFE':BornDead,'TENURE':TERM,'Remark':REMARK})
df

Empty DataFrame
Columns: [NAME, LIFE, TENURE, Remark]
Index: []

# QUESTION 6

In [84]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [85]:
driver.get("https://www.flipkart.com/")

In [86]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [87]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [88]:
brand_list = []
product_description_list = []
price_with_discount_list = []
discount_list = []


first_page = 1 
last_page = 4 


for page in range(first_page,last_page):
    
    #to get brads
    brands = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        brand_list.append(i.text)
        
        
    desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        product_description_list.append(i.text)    
    
    
    prices = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        price_with_discount_list.append(i.text)
    
    
    discounts = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discounts:
        discount_list.append(i.text)
        
  
    next_page = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    
    time.sleep(5)

In [89]:
brand_list = brand_list[0:100]
product_description_list = product_description_list[0:100]
price_with_discount_list = price_with_discount_list[0:100]
discount_list = discount_list[0:100]

In [90]:
sneakers= pd.DataFrame(list(zip(brand_list, product_description_list, price_with_discount_list, discount_list)),
                              columns =['Brand', 'Description', 'Price_with_Discount', 'Discount'],
                              index=pd.RangeIndex(start=1, stop=(len(brand_list)+1), name='Sr. No.'))

sneakers.style.set_properties(**{'text-align':'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')])])

# QUESTION 4

In [99]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [100]:
driver.get("https://www.flipkart.com")

In [101]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [102]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [103]:
brand_list = []
product_description_list = []
price_with_discount_list = []
discount_list = []

In [104]:
first_page = 1
last_page = 4 


for page in range(first_page,last_page):
    
    brands = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        brand_list.append(i.text)
    
    descriptions = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descriptions:
        product_description_list.append(i.text)    
    
    prices = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        price_with_discount_list.append(i.text)
    
    discounts = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discounts:
        discount_list.append(i.text)
           
    next_page = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    
    time.sleep(5)

In [105]:
brand_list = brand_list[0:100]
product_description_list = product_description_list[0:100]
price_with_discount_list = price_with_discount_list[0:100]
discount_list = discount_list[0:100]

In [106]:
SUNGLASSES = pd.DataFrame(list(zip(brand_list, product_description_list, price_with_discount_list, discount_list)),
                              columns =['Brand', 'Description', 'Price_with_Discount', 'Discount'],
                              index=pd.RangeIndex(start=1, stop=(len(brand_list)+1), name='Sr. No.'))

SUNGLASSES.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')])])